<?php include APPLICATION_PATH.'/public/admin/header.html' ?>
<?php include APPLICATION_PATH.'/public/admin/menu.html' ?>


<div class="page-content">
    <div class="page-header">
        <h1>
            抢购资源
            <small>
                <i class="icon-double-angle-right"></i>
                商品列表
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="center">
                            <label>
                                <input type="checkbox" class="ace" />
                                <span class="lbl"></span>
                            </label>
                        </th>
                        <th>商品ID</th>
                        <th>商品名称</th>
                        <th>当前库存</th>
                        <th>抢购库存</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <?php
                        if($goodsList){
                            foreach($goodsList as $goods){
                    ?>
                    <tr>
                        <td class="center">
                            <label>
                                <input type="checkbox" class="ace" value="<?php echo $goods['id']?>"/>
                                <span class="lbl"></span>
                            </label>
                        </td>

                        <td>
                            <a href="#"><?php echo $goods['goods_id']?></a>
                        </td>
                        <td><?php echo $goods['goods_name']?></td>
                        <td><?php echo $goods['current_stock']?></td>
                        <td><?php echo $goods['goods_num']?></td>
                        <td>
                            <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                                <button class="btn btn-xs btn-info" onclick="javascript:window.location.href='/manage/goods/edit/id/<?php echo $goods['id']?>'">
                                    <i class="icon-edit bigger-120"></i>
                                </button>

                                <button class="btn btn-xs btn-danger" onclick="javascript:window.location.href='/manage/goods/del/id/<?php echo $goods['id']?>'">
                                    <i class="icon-trash bigger-120"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <?php }}else{?>
                    <tr>
                        <td colspan="6" class="center">
                            暂无数据！
                        </td>
                    </tr>
                    <?php }?>
                    </tbody>
                    <tfoot>
                    <tr><td colspan="6"><a href="/manage/goods/add">添加</a></td></tr>
                    </tfoot>
                </table>
            </div><!-- /.table-responsive -->
        </div><!-- /span -->
    </div><!-- /row -->
</div><!-- /.page-content -->

<?php include APPLICATION_PATH.'/public/admin/footer.html' ?>